<h1>Log in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag  login_path do  %>
        <%= label_tag :email_or_username %>
        <%= text_field_tag :email_or_username, params[:email_or_username] %>
        <br/><br/>
        <%= label_tag :password %>
        <%= password_field_tag :password, params[:password] %>
        <br/><br/>
        <%= submit_tag "Log in"%>
    <% end %>
    <br/>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
