<% stylesheet_link_tag 'hours/form.scss' %>
<div class="create_hour">
  <%= form_for @hour, url: [@hour.task.project, @hour.task, @hour] do |f| %>
      <ul>
        <% @hour.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
      </ul>
      <p>
        <%= f.label :Set_Work_Time %>
        <%= f.number_field :work_time, step: 0.5, style: 'display: block' %>
      </p>
      <p>
      <%= f.label :explanation %>
      <%= f.text_field :explanation %>
      </p>
      <p><%= f.submit 'OK'  %></p>
  <% end %>

</div>
