<h1>Work Time</h1>
<p>Length : <%= @hour.work_time %></p>
<br/>
<p>Created at : <%= @hour.created_at %></p>
<br/>
<p>User : <%= @hour.user.user_name%></p>
<br/>
<p>Explanation : <%= @hour.explanation %>
<br/><br/>
<h3><%= link_to "<< Back to Task", [@hour.task.project, @hour.task] %></h3>
