%h1 Work Time
%p{class: "hour_show_length"} Length : #{@hour.work_time}
.hour_wrap_modify
  - if current_user == @hour.user
    = link_to "edit hour", edit_project_task_hour_path(@hour.task.project, @hour.task, @hour)
    |
    = link_to "delete hour", project_task_hour_path(@hour.task.project, @hour.task, @hour), method: :delete, data: {confirm: "Really delete the hour?"}
%br
%br
%p
  Created at :
  = @hour.created_at
%br
%p
  User :
  = @hour.user.user_name
%br
%p
  Explanation :
  = @hour.explanation
%br
%br
%h3 #{link_to "<<Back to Task", [@hour.task.project, @hour.task]}
