<div class="create-comment">
  <%= form_for [@comment.task.project, @comment.task, @comment] do |f| %>
      <%= render partial: 'users/error_messages', object: @comment, as: :item %>
      <p>
        <%= f.label :body, "Your Comment" %><br/>
        <%= f.text_area :body, style: 'width: 50%' %>
      </p>
      <p><%= f.submit 'Submit' %></p>
  <% end %>

</div>
