<div>
  <h6>Comment by <%= comment.author_name %></h6>

  <% if current_user.user_type %>
      <%= link_to "delete", project_task_comment_path, :style=>'color:red', method: :delete,  data: { confirm: "You sure?" }%>
      | <%= link_to "edit", {:style=>'color:red'} %>
  <% end %>

  <p>Posted <%= distance_of_time_in_words(comment.task.created_at, comment.created_at) %> later</p>

  <p class="comment"><%= comment.body %></p>

</div>