<%= form_for [@project,@task] do |f| %>
    <%= render partial: 'users/error_messages', object: @task, as: :item %>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <br/>
    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description %>
    </p>
    <br/>
    <p>
      <%= f.label :status %><br/>
      <%= f.select :status, options_for_select([["Open", "open"], ["In Progress", "in_progress"], ["Waiting", "waiting"], ["Resloved", "resloved"]], :selected => @task.status)%>
    </p>
    <br/>
    <p>
      <% if local_assigns[:edit] %>
          <%= f.label :task_type %><br/>
          <%= f.collection_select :task_type, TaskType.all, :id, :name,:selected => @task.task_type.id %>
      <% else %>
          <%= f.label :task_type %><br/>
          <%= f.collection_select :task_type, TaskType.all, :id, :name, prompt: "Please choose a type"%>
      <% end %>
    </p>
    <br/>
    <p>
      <%= f.label :Assign_This_Task %></br>
      <%= f.collection_check_boxes :assignees_id, @project.participants, :id, :user_name, :checked => @task.assignees.map(&:id), :include_hidden => false %>
    </p>
    <br/>
    <p>
      <%= f.submit %>
    </p>
<% end %>
