<div class="assign_task">
  <h1>Assign Task</h1>
  <%= form_for @task, url:assign_task_project_task_path(@task.project, @task) , method: :get  do |f| %>
      <p>
        <%= f.label :Assign_This_Task_To %></br>
        <%= f.collection_check_boxes :assignees_id, @task.project.participants, :id, :user_name, :checked => @task.assignees.map(&:id), :include_hidden => false %>
      </p>
      <p><%= f.submit "Ok"%></p>
  <% end %>
  <br/>
  <h3><%= link_to "<< invite more participant", invite_participant_project_path(@task.project)%></h3>
</div>

