<style>
    ul li {color:red}
</style>

<h1>Edit a Task</h1>
<%= form_for @task, url: project_task_path do |f| %>
    <ul>
      <% @task.errors.full_messages.each do |error| %>
          <li><%= error %></li>
      <% end %>
    </ul>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <br/>
    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description %>
    </p>
    <br/>
    <p>
      <%= f.label :Assign_This_Task %><br/>
      <%= f.collection_select :assignee, User.all, :id, :user_name, prompt: "Please select a user" %>
    </p>
    <br/>
    <p>
      <%= f.label :status %><br />
      <%= f.select :status, options_for_select([["Open", "Open"], ["In Progress", "In Progress"], ["Waiting", "Waiting"], ["Resloved", "Resolved"]]) %>
    </p>
    <br/>
    <p>
      <%= f.hidden_field :author, :value => current_user.user_name %>
      <%= f.submit %>
    </p>
<% end %>