
<style>
    ul li {color:red}
</style>

<h1>Create a New Task</h1>
<%= form_for @task, url: project_tasks_path do |f| %>
    <ul>
      <% @task.errors.full_messages.each do |error| %>
          <li><%= error %></li>
      <% end %>
    </ul>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :status %><br />
      <%= f.select :status, options_for_select([["Open", "Open"], ["In Progress", "In Progress"], ["Waiting", "Waiting"], ["Resloved", "Resolved"]]) %>
    </p>
    <br/>
    <p>
      <%= f.hidden_field :author, :value => current_user.user_name %>
      <%= f.hidden_field :parent_task, :value => params[:parent_task] %>
      <%= f.submit %>
    </p>
<% end %>
