<div class= "task_wrap">
  <h1>Task : <%= @task.title %></h1>
  <p class="task_wrap_author">Author : <%= @task.user.user_name %></p>
  <div class="task_wrap_modify">
    <%= link_to  "assign task", assign_task_project_task_path(@task.project, @task), {:style=>'color:red'}%>
    | <%= link_to  "edit" , edit_project_task_path(@task.project, @task), {:style=>'color:red'}%>
    | <%= link_to  "delete" , project_task_path(@task.project, @task), :style=>'color:red', method: :delete,
                   data: {confirm: "Really delete the task?"}%>
  </div>

  <br/><br/>
  <p>Created at : <%= @task.created_at %></p>
  <br/>
  <p>Task Number : <%= @task.id%></p>
  <br/>
  <p>From Project : <%= link_to @task.project.title,project_path(@task.project)%>
  <br/><br/>
  <% if @task.parent_task.present? %>
      <p>Parent Task : <%= link_to @task.parent_task.title,  project_task_path(@task.project, @task.parent_task) %></p>
  <% else %>
      <p>Parent Task : No Parent Task</p>
  <% end %>
  <br/>
  <p>Description : <%= @task.description%></p>
  <br/>
  <p>Status : <%= task_status(@task) %></p>
  <br/>
  <p>Task Type : <%= @task.task_type.name %></p>
  <br/>
  <% if @task.assignees.blank? %>
      <p>Assignees : No Assignees</p>
  <% else %>
      <ul class="task_wrap_assignee_name"> Assignee :
        <% @task.assignees.each do |assignee| %>
            <li>
              <% if @task.assignment_confirmed_user_id == assignee.id %>
                <%= assignee.user_name %><%= image_tag("task_check.png", height: '15', width: '15', class: "task_check_icon") %>
              <% else %>
                  <%= assignee.user_name %>
              <% end %>
              <% if assignee != @task.assignees.last %>
                  |
              <% end %>
            </li>
        <% end %>
      </ul>
  <% end %>
  <br/>
  <p class="task_wrap_assignment_status">Assignment Status : <%= @task.assignment_status %></p>
  <br/>
  <div class="task_time">
    <div class="task_time_show_time">
      <p>Task Total Time : <%= @task.task_total_work_time %> h</p>
    </div>
    <br/>
    <%= render partial: 'hour' %>
    <%= render partial: 'hours/form' %>
  </div>
  <br/><br/>
</div>
<div class = "subtask_wrap">
  <h2>SubTasks(<%= @task.sub_tasks.size %>)</h2>
  <ul id="subtasks">
    <% @task.sub_tasks.each do |subtask| %>
      <li>
        <%= link_to subtask.title, project_task_path(subtask.project_id, subtask.id)%>
      </li>
    <% end %>
  </ul>
  <br/>
  <%= link_to "create subtask", new_subtask_project_task_path(@task.project, @task),  class: "new" %>
  <br/><br/>
</div>

<div class="comment_wrap">
  <h2>Comments(<%= @task.comments.size %>)</h2>
  <%= render partial: 'tasks/comment', collection: @task.comments.reverse %>
  <h3>Post a Comment</h3>
  <%= render partial: 'comments/form' %>
  <br/>
</div>

<div class="footer">
  <h3>
    <% if @task.parent_task == nil %>
        <%= link_to "<< Back to Project", project_path(@task.project_id) %>
    <% else %>
        <%= link_to "<< Back to Parent Task", project_task_path(@task.project_id, @task.parent_task)%>
    <% end %>
  </h3>
</div>
