<%# when the user type is different, the user has different privilege to modify information %>
<% if current_user.admin %>
    <h1>Modify a User</h1>
    <%= form_for @user do |f| %>
        <%= render partial: 'error_messages' %>
        <%= f.label :user_name %>
        <%= f.text_field :user_name%>
        <br/><br/>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <br/><br/>
        <%= f.label :first_name%>
        <%= f.text_field :first_name %>
        <br/><br/>
        <%= f.label :last_name%>
        <%= f.text_field :last_name %>
        <br/><br/>
        <%= f.label :activate%><br/>
        <%= f.select :activated, options_for_select([["Yes", true], ["No", false]]), prompt: "Please make a choice" %>
        <br/><br/>
        <%= f.label :prompt_as_adminnistrator %>
        <%= f.check_box :admin  %>
        <br/><br/>
        <%= f.label :password %>
        <%= f.password_field :password%>
        <br/><br/>
        <%= f.label :password_confirmation%>
        <%= f.password_field :password_confirmation %>
        <br/><br/>
        <%= f.submit%>
    <% end %>
<% else %>
    <h1>Update Your Information</h1>
        <%= form_for @user do |f| %>
        <%= render partial: 'error_messages' %>
        <%= f.label :first_name%>
        <%= f.text_field :first_name %>
        <br/><br/>
        <%= f.label :last_name%>
        <%= f.text_field :last_name %>
        <br/><br/>
        <%= f.label :password %>
        <%= f.password_field :password%>
        <br/><br/>
        <%= f.label :password_confirmation%>
        <%= f.password_field :password_confirmation %>
        <br/><br/>
        <%= f.submit "Update Your own Information"%>
        <% end %>
<% end %>
