<% stylesheet_link_tag 'users.scss' %>

<h1>Reports</h1>
<div class="search_wrap">
<%= form_tag report_path do  %>
    <div id="start_time">
      From
      <%= date_field_tag :start_time %>
    </div>
    <div id="end_time">
      To
      <%= date_field_tag :end_time %>
    </div>

    <div id="task">
      Task
      <%= check_box_tag :task_checked %>
    </div>
      <div id="task_status">
        Task Status
        <%= select_tag :status_selected, options_for_select([["Open", 1], ["In Progress", 2], ["Waiting", 3], ["Resloved", 4]]), prompt: "Please choose a task status" %>
      </div>


      <div id="user">
        User
        <%= check_box_tag :user_checked %>
      </div>
      <div id="user_status">
        User Status
        <%= select_tag :user_status_selected, options_for_select([["active", true], ["inactive", false]]), prompt: "Please choose a user status" %>
      </div>
    <div id="submit">
        <%= submit_tag 'search' %>
    </div>

<% end %>
</div>

<div class="report_wrap">
  <h2>Search Result</h2>
  <ul id="task_list">
    <% if @tasks.present? %>
        <p>Task ID | Task Title | Task Total Work Time</p>
        <% @tasks.each do |t| %>
            <li>
              <%= t.id %> | <%= t.title %> | <%= User.find(t.author).user_name %> | <%= t.total_work_time %>
            </li>
        <% end %>
    <% end %>
  </ul>

  <ul id="user_list">
    <% if @users.present? %>
        <p>User ID | User Name | User Email | Task Total Work Time (h)</p>
        <% @users.each do |t| %>
            <li>
              <%= t.id %> | <%= t.user_name %> | <%= t.email %> | <%= t.total_work_time %>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="generate_report">
    <% if @users.present? %>
      <h3><%= link_to "Export Report", report_path(format: :csv, users: @users.each {|t| t.id}) %></h3>

    <% elsif @tasks.present? %>
      <h3><%= link_to "Export Report", report_path(format: :csv, tasks: @tasks.each{|t| t.id}) %></h3>

    <% end %>
</div>



