<h1><%= @user.user_name %></h1>

<% if @user.user_type %>
  <h2>Welcome Administor !!</h2>
<% else %>
  <h2>Welcome Developer !!</h2>
<% end %>


<p>Email Address : <%= @user.email%></p>
<br/>
<p>First Name : <%= @user.first_name%></p>
<br/>
<p>Last Name : <%= @user.last_name%></p>
<br/>


<% if @user.user_type %>
    <h3><%= link_to "View Users", users_path(:user => @user.id) %></h3>
<% end %>

<% if params[:admin] != nil %>
    <h3><%= link_to "View Projects", projects_path(:user => @user.id, :admin => params[:admin]) %></h3>
    <h3><%= link_to "<< Back to User List", users_path(:user => params[:admin]) %></h3>
<% else %>
    <h3><%= link_to "View Projects", projects_path(:user => @user.id) %></h3>
    <h2><%= link_to "Log out", login_path %></h2>
<% end %>

