<h1><%= @user.user_name %></h1>

<% if @user.user_type %>
  <h2>Welcome Administer !!</h2>
<% else %>
  <h2>Welcome Developer !!</h2>
<% end %>


<p>Email Address : <%= @user.email%></p>
<br/>
<p>First Name : <%= @user.first_name%></p>
<br/>
<p>Last Name : <%= @user.last_name%></p>
<br/>


<% if @user.user_type %>
  <h3><%= link_to "View Users", users_path %></h3>
<% end %>


<h3><%= link_to "View Projects", projects_path %></h3>

<h2>
  <%= link_to "Log out", login_path %>
</h2>