<h1><%= @user.user_name %></h1>
<p>Email Address : <%= @user.email%></p>
<br/>
<p>First Name : <%= @user.first_name%></p>
<br/>
<p>Last Name : <%= @user.last_name%></p>
<br/>
<p>User Type : <%= @user.user_type%></p>
<br/>


<h3><%= link_to "View Projects" %></h3>

<h2>
  <%= link_to "Log out" %>
</h2>