<%= stylesheet_link_tag 'users.scss' %>
<h1><%= @user.user_name %></h1>
<% if @user.check_role("administrator") %>
  <h2>Welcome Administor !!</h2>
<% else %>
  <h2>Welcome Developer !!</h2>
<% end %>

<p>Email Address : <%= @user.email%></p>
<br/>
<p>First Name : <%= @user.first_name%></p>
<br/>
<p>Last Name : <%= @user.last_name%></p>
<br/>
<ul id="user_type"> User Type :
  <% @user.roles.each do |role| %>
      <li>
        <%= role.role_name %>
        <% unless role == @user.roles.last %>
            |
        <% end %>
      </li>
  <% end %>
</ul>
<br/>
<p>Total Work Time : <%= @user.total_work_time %> h</p>
<br/>

<% if @user.check_role("report manager") %>
    <h3><%= link_to "Produce Report", report_path%></h3>
<% end %>

<% if @user.check_role("administrator") %>
    <h3><%= link_to "View Users", users_path %></h3>
<% end %>

<h3><%= link_to "View Projects", projects_path %></h3>

<% if current_user.check_role("administrator") && @user.id != current_user.id %>
    <h3><%= link_to "<<Back to User List", users_path %></h3>
<% else%>
    <h3><%= link_to "Update Personal Information", edit_user_path(@user.id) %></h3>
    <h3><%= link_to "Log out", logout_path, method: :delete %></h3>
<% end %>
