<%= form_for @project do |f| %>
    <%= render partial: 'users/error_messages', object: @project, as: :item %>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>

