<style>
    ul li {color: red}
</style>

<h1>Edit a Project</h1>
<%= form_for @project, url: project_path do |f| %>
    <ul>
      <% @project.errors.full_messages.each do |error| %>
          <li><%= error %></li>
      <% end %>
    </ul>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.hidden_field :author, :value => current_user.user_name %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit %>
    </p>
<% end %>