<style>
    ul li {list-style: none}
</style>

<h1>Edit a Project</h1>
<%= form_for @project, url: project_path(:user => params[:user]) do |f| %>
    <ul>
      <% @project.errors.full_messages.each do |error| %>
          <li><%= error %></li>
      <% end %>
    </ul>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :author %><br />
      <%= f.text_field :author %>
    </p>
    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.hidden_field :user_id, :value => params[:user] %>
      <%= f.submit %>
    </p>
<% end %>