<% stylesheet_link_tag 'projects/index.scss' %>
<h1>Projects</h1>

<div class="project-filter">
  <%= form_tag projects_path, :method => :get do  %>
      <div class="project-filter_select">
        Project Filter
        <%= select_tag :filter_selected, options_for_select([["All Projects", "All Projects"], ["My Projects", "My Projects"]]), prompt: "Please choose" %>
      </div>
      <div class="project-filter_submit">
        <%= submit_tag 'submit' %>
      </div>
  <% end %>
</div>

<div class="projects_wrap">
  <h2>Projects (<%= @projects.size %>)</h2>
  <% if @projects.present? %>
      <ul id="projects">
        <% @projects.each do |project| %>
            <li><%= link_to project.title, project, class: 'project_title' %></li>
        <% end %>
      </ul>
  <% end %>
</div>


<%= link_to "Create a New Project", new_project_path, class: "new" %>
<br/><br/>
<h3><%= link_to "<< Back to Personal Profile", current_user %></h3>




