<div class="project-wrap">
  <h1><%= @project.title %></h1>
  <p class="project-wrap_author">Author : <%= @project.user.user_name %></p>
  <div class="project-wrap_modify">
    <%= link_to  "invite participant", invite_participant_project_path(@project), {:style=>'color:red'}%>
    | <%= link_to  "edit" , edit_project_path(@project), {:style=>'color:red'} %>
    | <%= link_to  "delete" , @project, :style=>'color:red', method: :delete, data: {confirm: "Really delete the project?"} %>
  </div>
  <br/><br/>
  <p>Created at : <%= @project.created_at %></p>
  <br/>
  <p>Description : <%= @project.description%></p>
  <br/>
  <% if @project.participants.blank? %>
    <p>Participants : No participants</p>
  <% else %>
      <ul class="project-wrap_participant_name"> Participants :
        <% @project.participants.each do |participant| %>
            <li>
              <%= participant.user_name %>
              <% if participant != @project.participants.last %>
                  |
              <% end %>
            </li>
        <% end %>
      </ul>
  <% end %>
</div>
<br/>

<div class="task-wrap">
  <h2>Tasks (<%= @project.tasks.validated_tasks.where(parent_task: nil).count %>)</h2>
  <ul class="task-wrap_task-list">
    <% @project.tasks.validated_tasks.each do |task| %>
        <%# only display parent task %>
        <% if task.parent_task_id == nil %>
            <li>
              <%= link_to task.title, project_task_path(task.project_id, task.id)%>
            </li>
        <%end%>
    <% end %>
  </ul>
</div>
<br/>



<%= link_to "Create Task", new_project_task_path(@project), class: "new" %>
<br/><br/>
<h3>
  <% if current_user.has_role?("administrator") %>
      <%= link_to "<< Back to Project List",administrators_index_project_path %>
  <% else %>
      <%= link_to "<< Back to Project List", projects_path %>
  <% end %>
</h3>