<% stylesheet_link_tag 'projects.scss' %>
<div class="project-wrap">
  <h1><%= @project.title %></h1>
  <p id="project_author">Author : <%= @project.user.user_name %></p>
  <div class="project_modify">
    <%= link_to  "edit" , edit_project_path(@project), {:style=>'color:red'} %>
    | <%= link_to  "delete" , @project, :style=>'color:red', method: :delete, data: {confirm: "Really delete the project?"} %>
  </div>
  <br/><br/>
  <p>Created at : <%= @project.created_at %></p>
  <br/>
  <p>Description : <%= @project.description%></p>
  <br/>
</div>
<br/>

<div class="task_wrap">
  <h2>Tasks (<%= @project.tasks.size %>)</h2>
  <ul id="tasks">
    <% @project.tasks.each do |task| %>
        <%# only display parent task %>
        <% if task.parent_task_id == nil %>
            <li>
              <%= link_to task.title, project_task_path(task.project_id, task.id)%>
            </li>
        <%end%>
    <% end %>
  </ul>
</div>
<br/>



<%= link_to "Create Task", new_project_task_path(@project), class: "new" %>
<br/><br/>
<h3><%= link_to "<< Back to Project List", projects_path %></h3>
