<% stylesheet_link_tag 'reports/generate.scss' %>

<h1>Reports</h1>
<div class="search_wrap">
  <%= form_for @report, url:report_path do  |f| %>
      <div class="search_wrap_start_time">
        From
        <%= f.date_field :start_time, value: @report.start_time %>
      </div>
      <div class="search_wrap_end_time">
        To
        <%= f.date_field :end_time, value: @report.end_time%>
      </div>
      <div class="search_wrap_task">
        Task
        <%= f.radio_button :task_or_user_checked, "task" %>
      </div>
      <div class="search_wrap_user">
        User
        <%= f.radio_button :task_or_user_checked, "user" %>
      </div>
      <div class="search_wrap_task_states">
        Task Status
        <%= f.select :task_status, options_for_select([["Open", "open"], ["In Progress", "in_progress"], ["Waiting", "waiting"], ["Resloved", "resloved"]], :selected=> @report.task_status),prompt: "Please choose a task status" %>
      </div>
      <div class="search_wrap_user_status">
        User Status
        <%= f.select :user_activated, options_for_select([["active", true], ["inactive", false]], selected: @report.user_activated),
                     prompt: "Please choose a user status" %>
      </div>
      <div class="search_wrap_submit">
        <%= f.submit 'search' %>
      </div>
  <% end %>
</div>

<div class="report_wrap">
  <ul class="report_wrap_task_list">
    <% if @tasks.present? %>
        <h2>Search Result (<%= @tasks.size %>)</h2>
        <p>Task ID | Task Title | Task Total Work Time (h)</p>
        <br/>
        <% @tasks.each do |t| %>
            <li><%= t.id %> | <%= t.title %> | <%= t.task_total_work_time %> (h)</li>
        <% end %>
    <% end %>
  </ul>

  <ul class="report_wrap_user_list">
    <% if @users.present? %>
        <h2>Search Result (<%= @users.size %>)</h2>
        <p>User ID | User Name | User Email | Task Total Work Time (h)</p>
        <br/>
        <% @users.each do |t| %>
            <li><%= t.id %> | <%= t.user_name %> | <%= t.email %> | <%= t.user_total_work_time %> (h)</li>
        <% end %>
    <% end %>
  </ul>
  <% if !@tasks.present? && !@users.present? %>
    <h2> Search Result (0) </h2>
  <% end %>
</div>
<br/>

<div class="generate_report">
    <% if @users.present? %>
      <h3><%= link_to "Export Report", report_path(format: :csv, report: params[:report]) %></h3>
    <% elsif @tasks.present? %>
      <h3><%= link_to "Export Report", report_path(format: :csv, report: params[:report]) %></h3>
    <% end %>
</div>



