<!DOCTYPE html>
<html>
<head>
  <title>GroupIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
      .navbar{position: relative; bottom:30px; left: 660px}
  </style>
</head>
<body><header class="navbar">
  <div class="navbar-class">
    <ul class="navbar">
      <% if current_user %>
          <li><%=link_to "<<Back to Account", root_path%></li>
      <% end %>
    </ul>
  </div>
</header>
<p class="flash"><%= flash.notice %></p>
<%= yield %>
</body>
</html>
